@model IEnumerable<WebsiteBanTraiCay.Models.MMenu>
@{
    ViewBag.Title = "Thùng rác [Menu]";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_MessageAlert")
<section class="content py-2">
    <div class="container-fluid">
        <!--Content-->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <h5 class="text-csm">@ViewBag.Title</h5>
                    </div>
                    <div class="col-4">
                        <div class="float-right pt-1">

                            <button type="button" class="btn btn-danger btn-sm">
                                <a href="~/Admin/Menu" class="text-white"> <i class="fas fa-sign-out-alt "></i>&nbsp; Thoát</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="cate1" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center no-sort" style="width:3rem;">ID</th>
                            <th class="no-sort">Tên menu</th>
                            <th class="no-sort">Liên kết</th>
                            <th class="no-sort">Vị trí</th>
                            <th class="no-sort text-center" style="width:10rem">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
            <tr>
                <td class="text-center">@item.ID </td>
                <td><a href="~/Admin/Menu/Details/@item.ID">@item.Name</a>  </td>
                <td><a href="~/Admin/Menu/Details/@item.ID">@item.Link</a>  </td>
                <td>@item.Positon  </td>

                <td class="text-center">
                    <button type="button" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Khôi phục">
                        <a href="@Url.Action("ReTrash", "Menu", new { id = item.ID })" class="text-white"><i class="fas fa-undo-alt"></i></a>
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="Xóa vĩnh viễn">
                        <a href="@Url.Action("Delete", "Menu", new { id = item.ID })" class="text-white"><i class="far fa-trash-alt"></i></a>
                    </button>
                </td>
            </tr>}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>