@model WebsiteBanTraiCay.Models.ResetPasswordModel
@{
    ViewBag.Title = "Tạo mật khẩu mới";
}

@Html.Partial("_MessageAlert")
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Public/Admin/css/all.min.css" rel="stylesheet" />
    <link href="~/Public/Admin/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/Public/Admin/css/font-sans.pro.css" rel="stylesheet" />
    <link href="~/Public/Admin/css/toastr.min.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div class="h-100 w-100 position-absolute" style="background-image:url(../../../../Public/images/bg-01.jpg);background-size: 100% auto; z-index:-1; opacity:.6"></div>
    <div class="overlay justify-content-center align-items-center d-none bg-secondary w-100 h-100 position-absolute" style="z-index:1; opacity:.3"><i class="fas fa-2x fa-sync fa-spin"></i></div>
            @using (Html.BeginForm())
            {
                <div class="login-box">
                    <div class="login-logo">
                        <img src="~/Public/images/user2-160x160.jpg" class="d-block rounded-circle mx-auto" width="80" />
                        <a href="#" style="color:red;"><b>Tạo mật khẩu mới</b></a>
                    </div>
                    <!-- /.login-logo -->
                    <div class="card">
                        <div class="card-body login-card-body">
                            <p class="login-box-msg">Bạn chỉ còn một bước nữa để có được mật khẩu mới, hãy khôi phục mật khẩu của bạn ngay bây giờ..</p>


                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="input-group mb-3">
                                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mật khẩu mới" } })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập lại mật khẩu mới" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.HiddenFor(a => a.ResetCode)
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <input type="submit" value="Xác nhận" class="btn btn-primary btn-block" />
                                </div>
                                <!-- /.col -->
                            </div>


                            <p class="mt-3 mb-1">
                                <a href="~/Admin"><i class="fas fa-arrow-alt-circle-left"></i> Quay lại trang đăng nhập</a>
                            </p>
                        </div>
                        <!-- /.login-card-body -->
                    </div>
                </div>
            }
            <script src="~/Public/Admin/js/jquery.min.js"></script>
            <script src="~/Public/Admin/js/bootstrap.bundle.min.js"></script>
            <script src="~/Public/Admin/js/toastr.min.js"></script>
            <script src="~/Public/Admin/js/adminlte.min.js"></script>
            <script src="~/Public/Admin/js/karma.laclac.min.js"></script>

            @section Scripts{
                <script src="~/Scripts/jquery.validate.min.js"></script>
                <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
            }

</body>
</html>
