@using PagedList.Mvc;
@model PagedList.IPagedList<WebsiteBanTraiCay.Models.MPost>
@{
    ViewBag.Title = ViewBag.breadcrumb.Name;
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<style>
    .shop-sidebar aside {
        width: 100%;
        padding: 5px;
        box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 10%)
    }

    .nav-menu, .nav-product {
        width: 100%;
        margin-bottom: 24px;
    }

    .nav-menu-title {
        width: 100%;
        padding: 15px 20px;
        text-align: left;
        letter-spacing: 1px;
        font-size: 16px;
        color: white;
        font-weight: 500;
        background-color: var(--primary-color);
    }

    .menu-content-list, .product_list_widget-list {
        list-style: none;
        margin-top: 5px;
    }

    .product_list_widget-list {
        height: 400px;
        overflow: hidden;
    }

    .shop-sidebar ul li:nth-child(odd) {
        background-color: #fafafa;
    }

    .menu-content-items {
        padding: 5px 20px;
        line-height: 35px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
    }

        .menu-content-items a {
            color: #555;
            text-decoration: none;
            transition: 0.2s
        }

            .menu-content-items a:hover {
                color: var(--primary-color)
            }

    .list_widget-items a {
        text-decoration: none;
        font-size: 14px;
        color: #555;
        font-weight: 500;
        padding: 5px 0;
    }

    .menu-content-items:hover {
        color: var(--primary-color);
    }
    .shop-page-left {
        font-size: 18px;
    }

        .shop-page-left a {
            text-decoration: none;
            color: rgba(102,102,102,0.7);
        }

        .shop-page-left .divider {
            margin: 0 5px;
            color: rgba(102,102,102,0.7);
        }

        .shop-page-left .shop {
            font-weight: bold;
            color: #222;
            text-transform: uppercase;
        }
</style>
<div class="container breadcrumb-c clearfix d-block shop-page-left mt-3">
   
    <a href="/">TIN TỨC</a>
    <span class="divider">/</span>
    <span class="shop"> <a href="~/@ViewBag.breadcrumb.Slug" style="color: #111"> @ViewBag.breadcrumb.Name</a></span>
</div>
<div class="container row tin-tuc" style="align-items: normal">
    <div class="col-3 shop-sidebar">
        <aside class="nav-menu">
            <p class="nav-menu-title" style="margin: 0">
                TIN TỨC THEO CHỦ ĐỀ

            </p>
            <div class="nav-menu-content">
                <ul class="menu-content-list">
                    @foreach (var v in ViewBag.TopicName)
                    {
                        <li class=" menu-content-items">
                            <a href="~/@v.Slug">
                                @if (@ViewBag.breadcrumb.Slug == v.Slug)
                                {
                                    @v.Name
                                }
                                else
                                {
                                    @v.Name
                                }
                            </a>
                        </li>
                    }

                    <li class="menu-content-items">
                        <a href="~/"></a>
                        @*<ul class="menu-content-list-nav">
                                @foreach (var d in Model)
                                {
                                    if (c.ID == d.ParentID)
                                    {
                                        <li>
                                            <a href="~/@d.Slug" class="">@d.Name</a>
                                        </li>
                                    }
                                }
                            </ul>*@
                    </li>



                </ul>

            </div>
        </aside>


    </div>
       
       

       

    <div class="col-9">
        <div class="title text-uppercase" style="text-align:center; font-size: 20px; font-weight: bold;margin-bottom: 20px">
            @ViewBag.breadcrumb.Name
        </div>
            <div class="row">
                @foreach (var c in ViewBag.Right_News)
                {
                    <div class="col-md-4" style="min-height: 300px">
                        <a href="@c.Slug">
                            <div class="news" style="border: 1px solid #ccc; max-height: 250px;">
                                <div class="image" style="width:100%; height: 150px">
                                    <img src="~/Public/images/post/@c.Image" alt="" style="width: 100%; height:100%">
                                </div>
                                <div class="content" style="padding: 10px 20px">
                                    <div class="desc" style="color: #1c1c1c; font-size: 16px">
                                        @c.Title
                                    </div>

                                </div>

                            </div>
                        </a>
                    </div>
                }
                </div>
            
        <div class="tin-desc">
            @foreach (var i in Model)
            {
                <a href="~/@i.Slug">
                    <div class="row">
                        <div class="col-4 image"> <img src="~/Public/images/post/@i.Image" alt="@i.Title"></div>
                        <div class="title-de col-8 clearfix">
                            @i.Title
                            <div class="pt-2">
                                <div class="news-cate">
                                    @foreach (var d in ViewBag.TopicName)
                                    {
                                        if (i.TopicID == d.ID)
                                        {
                                            @d.Name
                                        }
                                    }
                                </div>
                                <div class="news-time">
                                    @String.Format("{0:d/M/yyyy HH:mm:ss}", i.Created_at)
                                </div>

                            </div>

                            <div class="news-rg">
                                @i.Description
                            </div>
                        </div>
                       
                    </div>
                </a>
            }
            <div class="pagination-91 my-5 py-3">
                @Html.PagedListPager(Model, page => Url.Action("Index", "Site", new { slug = ViewBag.Slug, page }))
            </div>
        </div>
    </div>
</div>