@model WebsiteBanTraiCay.Models.ResetPasswordModel
@{
    ViewBag.Title = "Đặt lại mật khẩu";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<style>
    .shop-sidebar aside {
        width: 100%;
        padding: 5px;
        box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 10%)
    }

    .nav-menu, .nav-product {
        width: 100%;
        margin-bottom: 24px;
    }

    .nav-menu-title {
        width: 100%;
        padding: 15px 20px;
        text-align: left;
        letter-spacing: 1px;
        font-size: 16px;
        color: white;
        font-weight: 500;
        background-color: var(--primary-color);
    }

    .menu-content-list, .product_list_widget-list {
        list-style: none;
        margin-top: 5px;
    }

    .product_list_widget-list {
        height: 400px;
        overflow: hidden;
    }

    .shop-sidebar ul li:nth-child(odd) {
        background-color: #fafafa;
    }

    .menu-content-items {
        padding: 5px 20px;
        line-height: 35px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
    }

        .menu-content-items a {
            color: #555;
            text-decoration: none;
            transition: 0.2s
        }

            .menu-content-items a:hover {
                color: var(--primary-color)
            }

    .list_widget-items a {
        text-decoration: none;
        font-size: 14px;
        color: #555;
        font-weight: 500;
        padding: 5px 0;
    }

    .menu-content-items:hover {
        color: var(--primary-color);
    }

    .shop-page-left {
        font-size: 18px;
    }

        .shop-page-left a {
            text-decoration: none;
            color: rgba(102,102,102,0.7);
        }

        .shop-page-left .divider {
            margin: 0 5px;
            color: rgba(102,102,102,0.7);
        }

        .shop-page-left .shop {
            font-weight: bold;
            color: #222;
            text-transform: uppercase;
        }
</style>
<div class=" container breadcrumb-c clearfix d-block shop-page-left" style="height: 20px !important; margin-top: 20px">
    <a href="~/">TRANG CHỦ</a>
    <span class="divider">/</span>
    <span class="shop"> <a href="~/" style="color: #111">Đặt lại mật khẩu</a></span>
</div>
@Html.Partial("_Nofit")
<div class="container-91 row my-2 mb-5">

    <div class="col-12">
        <div class="ml-2">
            <h2 class="my-4" style="text-align:center">Đặt lại mật khẩu</h2>
            <h5 class="information-text" style="text-align:center;">Bạn chỉ còn một bước nữa để có được mật khẩu mới, hãy khôi phục mật khẩu của bạn ngay bây giờ...</h5>

            <div class="my-3">

            </div>

            <style>
                .form-contact input {
                    padding: 20px;
                    color: #333;
                }

                    .form-contact input::placeholder {
                        padding: 0;
                    }

                .form-contact textarea::placeholder {
                    padding: 0;
                }
            </style>

            <!--form-->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        @*<input type="text" name="NewPassword" class="form-control rounded-0 py-4 bg-light" aria-describedby="emailHelp" placeholder="Nhập mật khẩu mới" required="" style="">*@
                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mật khẩu mới" } })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        <br />
                        @*                    <input type="text" name="ConfirmPassword" class="form-control rounded-0 py-4 bg-light" aria-describedby="emailHelp" placeholder="Nhập lại mật khẩu" required="" style="">
                        *@                  @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập lại mật khẩu mới" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4"> @Html.HiddenFor(a => a.ResetCode)</div>
                </div>

                <br style="margin-top:10px" />
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-dark ">
                            <small style="text-align:center">
                                THAY ĐỔI PASSWORD
                            </small>
                        </button>
                    </div>
                    <div class="col-md-5"></div>
                </div>
            }
        </div>
    </div>
</div>






