@model WebsiteBanTraiCay.Models.MProduct

@{
    ViewBag.Title = "Cập nhật thông tin sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.Partial("_MessageAlert")

@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section class="content py-2">
        <div class="container-fluid">
            <!--Content-->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="text-csm">@ViewBag.Title</h5>
                        </div>
                        <div class="col-4">
                            <div class="float-right pt-1">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fas fa-save"></i>&nbsp; Save
                                </button>
                                <button type="button" class="btn btn-danger btn-sm">
                                    <a href="~/Admin/Product" class="text-white"><i class="fas fa-door-open"></i>&nbsp; Thoát</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-9">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.ID)
                                @Html.HiddenFor(model => model.Created_at)
                                @Html.HiddenFor(model => model.Created_by)
                                @Html.HiddenFor(model => model.Image)
                                <div class="form-group">
                                    @Html.Label("Tên sản phẩm", htmlAttributes: new { @class = "control-label" })
                                    <div class="">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Mô tả sản phẩm")
                                    <div class="">
                                        @Html.TextAreaFor(model => model.Detail, new { @class = "textarea" })
                                        @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Chi tiết sản phẩm")
                                    <div class="">
                                        @Html.TextAreaFor(model => model.Description, new { @class = "textarea" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="form-group">

                                    @Html.Label("Hình ảnh", htmlAttributes: new { @class = "control-label" })
                                    <img src="~/Public/images/products/@Html.DisplayFor(model => model.Image)" alt="@Html.DisplayFor(model => model.Image)" width="150" class="d-block my-2" />
                                    <div class="">
                                        @Html.TextBoxFor(model => model.Image, new { type = "file", @class = "control-label" })
                                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">

                                    @Html.Label("Hình ảnh list", htmlAttributes: new { @class = "control-label" })
                                    <img src="~/Public/images/products/@Html.DisplayFor(model => model.ImageList)" alt="@Html.DisplayFor(model => model.ImageList)" width="150" class="d-block my-2" />
                                    <div class="">
                                        @Html.TextBoxFor(model => model.ImageList, new { type = "file", @class = "control-label" })
                                        @Html.ValidationMessageFor(model => model.ImageList, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Loại sản phẩm", new { @class = "control-label" })
                                    <div class="">
                                        @Html.DropDownListFor(model => model.CateID, (SelectList)ViewBag.ListCat, "[Chọn loại sản phẩm]", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CateID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Chi nhánh", new { @class = "control-label" })
                                    <div class="">
                                        @Html.DropDownListFor(model => model.OwnerId, (SelectList)ViewBag.ListOwner, "[Chọn chi nhánh]", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.OwnerId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Số lượng", new { htmlAttributes = new { @class = "form-control" } })
                                    <div class="">
                                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { type = "number", @min = "1", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Giá gốc", new { htmlAttributes = new { @class = "form-control" } })
                                    <div class="">
                                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { type = "number", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Giá khuyến mại", new { htmlAttributes = new { @class = "form-control" } })
                                    <div class="">
                                        @Html.EditorFor(model => model.ProPrice, new { htmlAttributes = new { type = "number", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ProPrice, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Trạng thái", htmlAttributes: new { @class = "control-label " })
                                    <div class="">
                                        @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Value = "1", Text = "Có" }, new SelectListItem { Value = "2", Text = "Không" } }, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
                                    
}
