@model IEnumerable<WebsiteBanTraiCay.Models.ProductTop>

@{
    ViewBag.Title = "Thống kê sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content py-2">
    <div class="container-fluid">
        <!--Content-->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        @Html.Partial("_MessageAlert")
                        <h5 class="text-csm">@ViewBag.Title</h5>
                    </div>
                    <div class="col-4">
                        <div class="float-right pt-1">
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="product" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="no-sort text-center" style="width:3rem;">STT</th>
                            <th class="no-sort text-center" style="width:3rem;">ID</th>
                            <th class="no-sort text-center">Hình ảnh</th>
                            <th class="no-sort">Tên sản phẩm</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        @{var stt = 1;}
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@stt</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.Id)</td>
                                <td><img src="~/Public/images/products/@Html.DisplayFor(modelItem => item.Img)" alt="Error" width="70" class="d-block m-auto" />  </td>
                                <td><a href="~/Admin/Product/Details/@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>  </td>
                                                               
                            </tr>
                            stt++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
