@using WebsiteBanTraiCay.Library
@{
    ViewBag.Title = "Giỏ hàng của bạn";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
    @Html.Partial("_Nofit")

<style>
    :root {
        --primary-color: #cc2121;
    }

    .box-content {
        width: 100%;
        margin-top: 20px;
    }

    .info-cart {
        width: 100%;
        display: flex;
    }

    .info-product-cart {
        width: 58%;
        height: 100%;
        padding: 0 8px;
    }

    .info-product-buy {
        width: 40%;
        height: 100%;
        padding: 0 10px;
    }



    .info-product-tr {
        border: 2px solid #ebebeb;
    }

    .thead-cart {
        text-align: left;
    }

    table {
        border-collapse: initial;
    }

    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ebebeb;
    }

    th {
        padding: 8px;
        line-height: 20px;
        border-bottom: 1px solid #ebebeb;
    }


    .thead-cart .total {
        text-align: right;
    }

    .product-img {
        padding: 15px 7px;
    }

        .product-img img {
            width: 75px;
            height: 75px;
        }

    .thead-cart-total {
        text-align: right;
    }

    .thead-cart-price, .thead-cart-quantity, .thead-cart-total {
        padding: 8px;
        color: #111;
        font-size: 14px;
        font-weight: 600;
    }

    .thead-cart-product {
        padding: 8px 8px 8px 0;
        color: #111;
        font-size: 14px;
        font-weight: 600;
        width: 300px;
    }

    .thead-cart-price {
        width: 100px;
    }

    .thead-cart-quantity {
        width: 150px;
    }

    .product-name {
        padding: 15px 7px;
        width: 223px;
    }

        .product-name a {
            font-size: 14px;
            color: #111;
            text-decoration: none;
        }

    .product-price {
        font-size: 14px;
        color: var(--primary-color);
        font-weight: 500;
        padding: 15px 7px;
        min-width: 120px;
    }

    .product-quantity {
        padding: 15px 7px;
        font-size: 14px;
        width: 120px;
    }

    .product-total-price {
        padding: 15px 7px;
        font-size: 14px;
        color: var(--primary-color);
        font-weight: 500;
        min-width: 120px;
        text-align: right;
    }

    .product-remove i {
        width: 28px;
        height: 28px;
        cursor: pointer;
        border: 2px solid #ccc;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.5;
        margin: 2px;
        font-size: 10px;
        transition: 0.3s;
    }



        .product-remove i:hover {
            color: black;
        }

    .btn-dec, .btn-inc {
        width: 25px;
        height: 35px;
        border: 1px solid #ccc;
        cursor: pointer;
    }

    .input-value {
        width: 30px;
        height: 35px;
        border: none;
        text-align: center;
        margin: 0 -5px;
        border: 1px solid #ccc;
    }

    .tr-line {
        width: 100%;
        height: 1px;
        background-color: #ebebeb;
    }


    .btn-backIndex button {
        color: var(--primary-color);
        background-color: white;
        border: 2px solid var(--primary-color);
        padding: 7px 20px;
        font-weight: 600;
        cursor: pointer;
        margin-top: 20px;
        transition: 0.3s;
    }

    .remove-all button {
        color: white;
        background-color: var(--primary-color);
        border: 2px solid var(--primary-color);
        padding: 7px 20px;
        font-weight: 600;
        cursor: pointer;
        margin-top: 20px;
        transition: 0.3s;
    }

        .remove-all button:hover {
            background-color: black;
            border: 2px solid black
        }

        .btn-backIndex button:hover {
            background-color: var(--primary-color);
            color: white;
        }

    .box-back-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .total-price {
        width: 171px;
        text-align: right;
    }

    .info-product-boder {
        border-left: 1px solid #ebebeb;
        margin-left: 5px;
    }

    .info-order {
        width: 100%;
        height: 100%;
        padding: 3px 10px;
    }

    .info-order-title {
        width: 100%;
        display: block;
        padding: 5px 8px 9px 0;
        color: #111;
        font-size: 14px;
        font-weight: 600;
        border-bottom: 1px solid #ebebeb;
    }

    .provisional, .delivery, .total {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .provisional {
        padding-top: 10px;
        border-bottom: 1px solid #ebebeb;
    }

    .delivery {
        padding: 5px 0;
        border-bottom: 1px solid #ebebeb;
    }

    .total {
        border-bottom: 2px solid #ebebeb;
        padding-bottom: 5px;
    }

    .provisional-title, .total-title {
        font-size: 14px;
        padding: 7px 7px 7px 0;
        color: #111;
    }

    .provisional-price, .price {
        color: var(--primary-color);
        font-size: 14px;
    }

    .delivery-title {
        font-size: 14px;
        color: #111;
        padding: 7px 7px 7px 0;
        min-width: 100px;
    }

    .delivery-decs span {
        display: block;
        text-align: right;
        font-size: 13px;
        color: #666;
        padding: 7px 0;
    }

    .check-pay {
        margin-top: 20px;
    }

        .check-pay button {
            width: 100%;
            height: 40px;
            outline: none;
            border: none;
            background-color: black;
            color: white;
            font-size: 15px;
            font-weight: 550;
            cursor: pointer;
        }

        .check-pay a {
            display: block;
        }

    .hideInfoCart {
        display: none;
    }

    /*empty cart*/
    .empty-cart {
        width: 100%;
        height: 180px;
    }

    .empty-wrapper {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .box-btn-empty {
        height: 100%;
    }

    .back-shop-link {
        min-width: 235px;
        text-decoration: none;
        background-color: var(--primary-color);
        padding: 10px 20px;
        font-weight: 500;
        color: white;
        font-size: 15px;
        text-align: center;
        transition: .5s;
    }

    .empty-wrapper p {
        padding-bottom: 30px;
    }

    .back-shop-link:hover {
        background-color: #a41010;
        text-decoration: none;
        color: white
    }
</style>
<div style="min-height:535px;" class=" py-3" id="checkout">
    @if (Session["Cart"] == null)
    {
        @*<div class="container checkout-cart">
                <img src="~/Public/images/null.png" alt="Giỏ hàng của bạn đang trống" class="d-block m-auto" width="250" />
                <p class="text-center font-weight-bold" style="opacity: .6;">Giỏ hàng của bạn trống</p>
                <div class="btn rounded-0 m-auto d-block" style="width:200px; background:#ee4d2d">
                    <a href="/" class="text-light text-decoration-none"></a>
                </div>
            </div>*@
        <div class="container empty-cart checkout-cart mt-4">
            <div class="empty-wrapper">
                <p>Chưa có sản phẩm nào trong giỏ hàng.</p>
                <a class="back-shop-link" href="/">
                    MUA NGAY
                </a>
            </div>


        </div>
    }
    else
    {
            @*<div class="container-91 checkout-cart">
                <div class="row">
                    <div class="col-12 my-cart pl-5"><i class="fas fa-carrot text-success pr-2"></i> Giỏ hàng của bạn</div>
                </div>
                <div class="row title mt-3 mb-2">
                    <div class="col-5 pl-5">
                        <input class="form-check-input" type="checkbox" style="position: relative;">
                        &nbsp;&nbsp; &nbsp;Sản phẩm
                    </div>
                    <div class="col-2 text-center">Đơn giá</div>
                    <div class="col-2 text-center">Số lượng</div>
                    <div class="col-2 text-center">Thành tiền</div>
                    <div class="col-1 text-center">Thao tác</div>
                </div>

                @foreach (var c in (List<ModelCart>)Session["Cart"])
                {
                    count++;
                    Tong += (c.Price * c.Quantity);
                    <div class="row content border-right border-bottom border-left">
                        <div class="col-5 pl-5">
                            <input class="form-check-input" type="checkbox" style="position: relative;">&nbsp;&nbsp; &nbsp;
                            <a href="~/@c.Slug" class="text-decoration-none text-dark">
                                <img src="~/Public/images/products/@c.Image" alt=" @c.Name" width="70">
                                &nbsp; &nbsp; @c.Name
                            </a>
                        </div>
                        <div class="col-2 text-center"> @c.Price.ToString("N0")₫</div>
                        <div class="col-2 text-center">
                            <div class="btn rounded-0 dout update" id="" data-id="@c.ProductID" data-options="minus">-</div>

                            <input type="number" class="rounded-0 border etd pl-3 bg-white mouse-click" style="width:50px; height:34px;margin:-5px;outline:0;border: 0;text-align:center" value="@c.Quantity" min="1" data-id="@c.ProductID" disabled>

                            <div class="btn rounded-0 douc update" data-id="@c.ProductID" data-options="add">+</div>
                        </div>

                        <div class="col-2 text-center" style="color:#ee4d2d">
                            @((c.Price * c.Quantity).ToString("N0"))₫
                        </div>
                        <div class="col-1 text-center">
                            <a href="#" class="b-remove-one text-decoration-none update" data-id="@c.ProductID" data-options="remove">Xóa</a>
                        </div>
                    </div>
                }
                <div class="my-2">
                    <a href="cart/removeall" class="text-right d-block text-decoration-none" style="font-size:15px">Xóa tất cả</a>
                </div>
                <div class="row fb-totalp bg-white container m-auto border fixed-bottom py-3">
                    <div class="col-3 pl-5">
                        <input class="form-check-input" type="checkbox" style="position: relative;">
                        &nbsp;&nbsp; &nbsp;Chọn tất cả (@count)
                    </div>

                    <div class="col-6 text-center">
                        <div class="float-right">
                            Tổng tiền hàng (@count sản phẩm): &nbsp;<strong class="d-inline" style="color:#ee4d2d;font-size: 27px;">@Tong.ToString("N0")₫</strong>
                        </div>
                    </div>
                    <div class="col-3">

                        <div class="btn text-center rounded-0 text-light">
                            <a href="#" class="checkAuth text-white text-decoration-none"> Thanh toán</a>
                        </div>

                    </div>
                </div>

            </div>*@
        <div class="box-content">
            <div class="container">
                <div class="info-cart">
                    <div class="info-product-cart">

                        <table class="table-cart">
                            <thead class="thead-cart">
                                <tr>
                                    <th class="thead-cart-product" colspan="3">SẢN PHẨM</th>
                                    <th class="thead-cart-price">GIÁ</th>
                                    <th class="thead-cart-quantity">SỐ LƯỢNG</th>
                                    <th class="thead-cart-total">TỔNG</th>
                                </tr>
                            </thead>
                            @{double Tong = 0; int count = 0;}
                            @foreach (var c in (List<ModelCart>)Session["Cart"])
                            {
                                count++;
                                Tong += (c.Price * c.Quantity);
                                <tbody class="tbody-cart">

                                    <tr class="info-product-tr">

                                        <td class="product-remove b-remove-one update" data-id="@c.ProductID" data-options="remove">
                                            <i class="fa-solid fa-x"></i>
                                        </td>
                                        <td class="product-img">
                                            <a href="~/@c.Slug">
                                                <img src="~/Public/images/products/@c.Image" alt="@c.Name">
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            <a href="">
                                                @c.Name
                                            </a>
                                        </td>
                                        <td class="product-price"> @c.Price.ToString("N0")₫</td>
                                        <td class="product-quantity">
                                            <div class="button-add">
                                                <input class="btn-dec update" type="button" data-id="@c.ProductID" data-options="minus" value="-" name="dec" id="dec">
                                                <input class="input-value" value="@c.Quantity" data-id="@c.ProductID" name="number" id="number">
                                                <input class="btn-inc update" type="button" data-id="@c.ProductID" data-options="add" value="+" name="inc" id="inc">
                                            </div>
                                        </td>
                                        <td class="product-total-price"> @((c.Price * c.Quantity).ToString("N0"))₫ </td>

                                    </tr>
                                </tbody>
                                
                            }


                        </table>
                        <div class="box-back-total">
                            <a class="btn-backIndex" href="/">
                                <button>
                                    <i class="fa-solid fa-arrow-left"></i>
                                    TIẾP TỤC XEM SẢN PHẨM
                                </button>
                            </a>
                            <a href="cart/removeall" class="remove-all   text-decoration-none" style="font-size:15px">
                                <button>Xóa tất cả</button>
                            </a>

                            <span class="total-price">Tổng tiền: @Tong.ToString("N0")₫ </span>
                        </div>

                    </div>
                    <div class="info-product-boder">

                    </div>
                    <div class="info-product-buy">
                        <div class="info-order">
                            <p class="info-order-title">CỘNG GIỎ HÀNG</p>
                            <div class="provisional">
                                <p class="provisional-title">Tạm tính </p>
                                <p class="provisional-price">@Tong.ToString("N0")₫</p>
                            </div>
                            <div class="delivery">
                                <p class="delivery-title">Giao hàng </p>
                                <div class="delivery-decs">
                                    <span>Miễn phí giao hàng</span>
                                </div>
                            </div>
                            <div class="total">
                                <p class="total-title">Tổng </p>
                                <p class="price">@Tong.ToString("N0")₫</p>
                            </div>
                            <div class="check-pay">
                                <a href="#" class="checkAuth">
                                    <button>
                                        TIẾN HÀNH THANH TOÁN

                                    </button>
                                </a>

                            </div>
                        </div>

                    </div>
                </div>
                
            </div>

        </div>
    }

</div>
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<script>
    var inputQuantity = document.querySelector('.input-value')

    inputQuantity.addEventListener('change', function () {
        if (inputQuantity.value < 1) {
            alert('Số lượng không được nhỏ hơn 1!')
            inputQuantity.value = 1
        }
    })
</script>


