@model WebsiteBanTraiCay.Models.MContact
@{
    ViewBag.Title = "Trả lời: " + Model.Title;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_MessageAlert")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="content py-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="text-csm">@ViewBag.Title</h5>
                        </div>
                        <div class="col-4">
                            <div class="float-right pt-1">
                                <button type="@(Model.Flag  == 1 ? "":"submit" )" class="btn btn-primary btn-sm replyde @(Model.Flag  == 1 ? "disabled":"" )">
                                    <i class="fas fa-save"></i>&nbsp; Trả lời
                                </button>
                                <button type="button" class="btn btn-danger btn-sm">
                                    <a href="~/Admin/Contact" class="text-white"><i class="fas fa-door-open"></i>&nbsp; Thoát</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-9">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.ID)
                                @Html.HiddenFor(model => model.Created_at)
                                @Html.HiddenFor(model => model.Status)

                                <div class="form-group">
                                    @Html.Label("Tiêu đề liên hệ", htmlAttributes: new { @class = "control-label  col-12" })
                                    <div class="">
                                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.Label("Nội dung phản hồi", htmlAttributes: new { @class = "control-label col-12" })
                                    <div class="">
                                        @Html.TextAreaFor(model => model.Detail, new { @class = "form-control", @rows = 3, @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Trả lời", htmlAttributes: new { @class = "control-label  col-12" })
                                    <div class="">
                                        @if (Model.Flag == 1)
                                        {
                                            @Html.TextAreaFor(model => model.Reply, new { @class = "form-control", @rows = 5, @readonly = "readonly" }) }
                                        else
                                        {
                                            @Html.TextAreaFor(model => model.Reply, new { @class = "form-control", @rows = 5 })}

                                        @Html.ValidationMessageFor(model => model.Reply, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>

                            <div class="col-3">

                                <div class="form-group">
                                    @Html.Label("Họ và tên", htmlAttributes: new { @class = "control-label  col-12" })
                                    <div class="">
                                        @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Email", htmlAttributes: new { @class = "control-label  col-12" })
                                    <div class="">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Số điện thoại", htmlAttributes: new { @class = "control-label  col-12" })
                                    <div class="">
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>}