@model WebsiteBanTraiCay.Models.MPost

@{
    ViewBag.Title = "Chỉnh sửa Page";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("_MessageAlert")

@using (Html.BeginForm("Edit", "Page", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
@Html.AntiForgeryToken()

                <section class="content py-2">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-8">
                                        <h5 class="text-csm">@ViewBag.Title</h5>
                                    </div>
                                    <div class="col-4">
                                        <div class="float-right pt-1">
                                            <button type="submit" class="btn btn-primary btn-sm">
                                                <i class="fas fa-save"></i>&nbsp; Save
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm">
                                                <a href="~/Admin/Page" class="text-white"><i class="fas fa-door-open"></i>&nbsp; Thoát</a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-9">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.ID)
                                            @Html.HiddenFor(model => model.Created_at)
                                            @Html.HiddenFor(model => model.Created_by)
                                            @Html.HiddenFor(model => model.Image)
                                            <div class="form-group">
                                                @Html.Label("Tên trag đơn", htmlAttributes: new { @class = "control-label" })
                                                <div class="">
                                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.Label("Nội dung trang")
                                                <div class="">
                                                    @Html.TextAreaFor(model => model.Detail, new { @class = "textarea" })
                                                    @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            

                                        </div>

                                        <div class="col-3">

                                            <div class="form-group">
                                                @Html.Label("Từ khóa SEO", htmlAttributes: new { @class = "control-label" })
                                                <div class="">
                                                    @Html.TextAreaFor(model => model.MetaKey, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.MetaKey, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.Label("Mô tả SEO", htmlAttributes: new { @class = "control-label" })
                                                <div class="">
                                                    @Html.TextAreaFor(model => model.MetaDesc, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.MetaDesc, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.Label("Tùy chỉnh URL", htmlAttributes: new { @class = "control-label" })
                                                <div class="">
                                                    @Html.EditorFor(model => model.Slug, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Slug, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.Label("Vị trí hiển thị", htmlAttributes: new { @class = "control-label " })
                                                <div class="">
                                                    @Html.DropDownListFor(model => model.Location, new[] {
                                                   new SelectListItem { Value = "None", Text = "None" },
                                                   new SelectListItem { Value = "connect_footer", Text = "KẾT NỐI VỚI CHÚNG TÔI" },
                                                   new SelectListItem { Value = "customer", Text = "KHÁCH HÀNG" }
                                                   }, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.Label("Trạng thái", htmlAttributes: new { @class = "control-label " })
                                                <div class="">
                                                    @Html.DropDownListFor(model => model.Status, new[] {
                                                   new SelectListItem { Value = "1", Text = "Hiển thị" },
                                                   new SelectListItem { Value = "2", Text = "Không hiển thị" } }, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>}
